<h1>{{title}}</h1>

<ul>
    {{#each author_list}}
        <li>
            <a href="{{this.url}}">{{this.name}}</a> 
                ({{this.date_of_birth}} - {{this.date_of_death}})
        </li>
    {{/each}}
</ul>