<h1>{{title}}</h1>

<ul class="list-group">
   {{#each book_list}}
    <li class="list-group-item"><a href="{{this.url}}">{{this.title}}</a>  ({{this.author.name}})</li> 
   {{else}}
    <li class="list-group-item">There are no books</li>
   {{/each}} 
</ul>