<h1>{{title}}: {{book.title}}</h1>

<p><strong>Author:</strong> <a href="{{book.author.url}}">{{book.author.name}}</a></p>
<p><strong>Summary:</strong>{{book.summary}}</p>
<p><strong>ISBN:</strong>{{book.isbn}}</p>
{{!-- <p><strong>Genre</strong>&nbsp;
    {{#each [book.genre]}}
        <a href="{{this.url}}">{{this.name}}</a>
    {{/each}}
    </p>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Copies</h4>
        {{#each book_instances}}
            <hr>

        {{/each}}    

    </div> --}}